@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'PT Sans', sans-serif; */

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}


ul{
    list-style-type: none;
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
}

li{ 
    padding: 10px;
    margin: 0px 5px;
}

li#subscribe{
    background-color: orange;
    border-radius: 3px;
    font-weight: bold;
}
    

article#container-noticia-principal {
    width: 80vw;
    margin: 10vh auto;
    display: flex;
}

article#noticia-principal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.6em;
    line-height: 1.6em;
}

#noticia-principal > h1{
    margin: 0;
    font-size: 1.5em;
}

#imagem-artigo-principal{
    width: 28em;
    height: 21em;
    margin-right: 3em;
    float: left;
}



.about{
    font-size: 0.6em;
    line-height: 1.2em;

}


article img#about{
    width: 3.7em;
    height: 3.7em;
    float: left;
    margin-right: 1em;

}

section.artigos-secundarios{
    margin-left: 9vw;
    margin-right: 10vw;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.3em;
    display: flex;
    flex-flow: row wrap;
}

.container-sec{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 15px 15px;
}


article .imagens{
    width: 18em;
    height: 10em;
}

article.container-sec > h1{
    font-size: 2em;
    margin: 0;
}

footer{
    margin-top: 1.5em;
    text-align: center;
}

